<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<title>Đăng ký</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700"
		rel="stylesheet">
	
	<link href="/css/assets/light/authentication/auth-cover.css" rel="stylesheet" type="text/css" />
    <link href="/css/assets/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />    
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/assets/dark/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/assets/light/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- BEGIN LOADER -->
	<div id="load_screen">
		<div class="loader">
			<div class="loader-content">
				<div class="spinner-grow align-self-center"></div>
			</div>
		</div>
	</div>
	<!--  END LOADER -->

	<div class="auth-container d-flex">

		<div class="container mx-auto align-self-center">

			<div class="row">

				<div
					class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column"
					style="padding-top: 110px">
					<div class="auth-cover-bg-image"></div>
					<div class="auth-overlay"
						style="position: fixed; left: 0; top: 0; height: 100%; border-radius: inherit; background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, rgba(255, 19, 97, 0.75) 100%); width: 55%;"></div>

					<div class="auth-cover">

						<div class="position-relative">

							<img style="width: 100%"
								src="https://images.pexels.com/photos/2790396/pexels-photo-2790396.jpeg?auto=compress&cs=tinysrgb&w=400"
								alt="auth-img">

							<h2 class="mt-5 text-white font-weight-bolder px-2">Tham gia cộng đồng các nhà phát triển chuyên nghiệp</h2>
							<p class="text-white px-2">Dễ dàng thiết lập với trải nghiệm khách hàng tuyệt vời. Bắt đầu dùng thử miễn phí 7 ngày của bạn</p>

						</div>

					</div>

				</div>

				<div
					class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto"
					style="margin-top: 30px">
					<div class="card" style="border: none">
						<div class="card-body">

							<div class="row">
								<div class="col-md-12 mb-3">

									<h2>Đăng ký</h2>
									<p>Nhập thông tin của bạn để đăng ký tài khoản</p>

								</div>
								<form id="signUpForm" method="post">
									<div class="col-md-12">
										<div class="mb-3">
											<label for="username" class="form-label">Tên <strong class="text-danger">*</strong></label> 
											<input
												type="text" id="username"
												class="form-control add-billing-address-input" required>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label for="email" class="form-label">Email <strong class="text-danger">*</strong></label> 
											<input
												type="email" id="email" class="form-control"
												onblur="checkEmailExist()" required> <span
												id="email-error" class="text-danger mb-5"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="mb-3">
											<label for="password" class="form-label">Mật khẩu <strong class="text-danger">*</strong></label> 
											<input
												type="password" id="password" oninput="validatePassword()"
												class="form-control" required> <span
												id="password-error" class="text-danger mb-5"></span>
										</div>
									</div>


									<div class="col-12">
										<div class="mb-3">
											<label for="phone" class="form-label">Số điện thoại <strong class="text-danger">*</strong></label> 
											<input
												type="text" id="phone-number"
												oninput="validatePhoneNumber()" class="form-control"
												required> <span id="phone-number-error"
												class="text-danger mb-5"></span>
										</div>
									</div>

									<div class="col-12">
										<div class="mb-4">
											<input type="submit" class="btn btn-secondary w-100" value="ĐĂNG KÝ">
										</div>
									</div>
								</form>


								<div class="col-12">
									<div class="text-center">
										<p class="mb-0">
											Bạn đã có tài khoản ? <a href="/user/login"
												class="text-warning">Đăng nhập ngay</a>
										</p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="/js/user/formValidation.js"></script>
	<script src="/js/user/signUp.js"></script>
	<!-- END GLOBAL MANDATORY SCRIPTS -->

	<script>
		
	</script>

</body>
</html>








