<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Chỉnh sửa ghế</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- BREADCRUMB -->
		<div class="page-meta">
			<nav class="breadcrumb-style-one" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Tàu</a></li>
					<li class="breadcrumb-item" aria-current="page"><a
						th:href="@{/seattype/index}">Quản lý ghế</a></li>
					<li class="breadcrumb-item active" aria-current="page">Chỉnh
						sửa tàu</li>
				</ol>
			</nav>
		</div>
		<!-- /BREADCRUMB -->

		<div class="layout-top-spacing col-12">
			<a th:href="@{/seattype/index}" class="btn"> Trở lại </a>

		</div>

		<div class="row layout-top-spacing">
			<div id="seattype-management" class="col-lg-12 layout-spacing">
				<div class="statbox widget box box-shadow">
					<div class="widget-header">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-sm-12 col-12">
								<h4>Chỉnh sửa</h4>
							</div>
						</div>
					</div>
					<div class="widget-content widget-content-area">
						<div class="col-12">
							<form th:action="@{/seattype/update/{id}(id=${seattype.id})}"
								th:object="${seattype}" id="general-settings" method="POST">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group mb-4">
											<label for="seattype">Tên ghế<strong
												class="text-danger">*</strong></label> <input type="text"
												name="seatTypeName" id="seatTypeName" class="form-control"
												placeholder="Tên ghế" th:value="${seattype.seatTypeName}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group mb-4">
											<label for="seattype">Vị trí ghế<strong
												class="text-danger">*</strong></label> <input type="number"
												name="seatPosition" id="seatPosition" class="form-control"
												placeholder="Vị trí ghế" th:value="${seattype.seatPosition}">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group mb-4">
											<label for="seattype">Trạng thái<strong
												class="text-danger">*</strong></label> <input type="number"
												name="status" id="status" class="form-control"
												placeholder="Trạng thái" th:value="${seattype.status}">
										</div>
									</div>
								</div>

								<button type="submit" class="btn btn-primary">Hoàn tất</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  BEGIN CUSTOM SCRIPTS FILE  -->
	<div layout:fragment="footerFiles"></div>
	<!--  END CUSTOM SCRIPTS FILE  -->
</body>

</html>
