<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Thêm mới</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- BREADCRUMB -->
		<div class="page-meta">
			<nav class="breadcrumb-style-one" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Vé tàu</a></li>
					<li class="breadcrumb-item" aria-current="page"><a
						th:href="@{/ticket/index}">Quản lý vé tàu</a></li>
					<li class="breadcrumb-item active" aria-current="page">Thêm
						mới vé tàu</li>
				</ol>
			</nav>
		</div>
		<!-- /BREADCRUMB -->

		<div class="layout-top-spacing col-12">
			<a th:href="@{/ticket/index}" class="btn"> Trở lại </a>

		</div>

		<div class="row layout-top-spacing">
			<div id="ticket-management" class="col-lg-12 layout-spacing">
				<div class="statbox widget box box-shadow">
					<div class="widget-header">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-sm-12 col-12">
								<h4>Thêm mới</h4>
							</div>
						</div>
					</div>
					<div class="widget-content widget-content-area">
						<div class="col-12">
							<form th:action="@{/ticket/create}" th:object="${ticket}"
							      id="general-settings" method="POST">
							
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group mb-4">
							                <label for="ticketname">Tên loại vé<strong class="text-danger">*</strong></label>
							                <input type="text"
							                       th:field="*{ticketname}" 
							                       id="ticketname" 
							                       class="form-control"
							                       placeholder="Tên loại vé"
							                       th:classappend="${#fields.hasErrors('ticketname') ? 'is-invalid' : ''}">
							                <span th:if="${#fields.hasErrors('ticketname')}" class="text-danger" th:errors="*{ticketname}"></span>
							            </div>
							        </div>
							    </div>
							
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group mb-4">
							                <label for="price">Giá vé<strong class="text-danger">*</strong></label>
							                <input type="number" 
							                       th:field="*{price}" 
							                       id="price" 
							                       class="form-control"
							                       placeholder="Giá vé"
							                       th:classappend="${#fields.hasErrors('price') ? 'is-invalid' : ''}">
							                <span th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></span>
							            </div>
							        </div>
							    </div>
							
							    <div class="row">
							        <div class="col-md-6">
							            <div class="form-group mb-4">
							                <label for="status">Trạng thái <strong class="text-danger">*</strong></label>
							                <select th:field="*{status}" id="status" class="form-control">
							                    <option value="" >Chọn trạng thái</option>
							                    <option th:each="status : ${ticketStatuses}"
							                            th:value="${status}"
							                            th:text="${status.displayName}"></option>
							                </select>
							                <span th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}"></span>
							            </div>
							        </div>
							    </div>
							
							    <button type="submit" class="btn btn-primary">Hoàn tất</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  BEGIN CUSTOM SCRIPTS FILE  -->
	<div layout:fragment="footerFiles"></div>
	<!--  END CUSTOM SCRIPTS FILE  -->
</body>

</html>