<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Danh sách nhà ga</title>

<div layout:fragment="headerFiles">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/datatables.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/light/table/datatable/dt-global_style.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/dark/table/datatable/dt-global_style.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/light/table/datatable/custom_dt_custom.css">
	<link rel="stylesheet" type="text/css"
		href="/css/plugins/dark/table/datatable/custom_dt_custom.css">
</div>

</head>
<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<div class="page-meta">
			<nav class="breadcrumb-style-one" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Nhà ga</a></li>
					<li class="breadcrumb-item active" aria-current="page">Quản lý
						nhà ga</li>
				</ol>
			</nav>
		</div>
		<!-- /BREADCRUMB -->

		<div class="row layout-top-spacing">
			<div class="col-xl-12 col-lg-12 col-sm-12">
				<div class="statbox widget box box-shadow">
					<div class="widget-header">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-sm-12 col-12">
								<h4>Quản lý nhà ga</h4>
							</div>
						</div>
					</div>
					<div class="widget-content widget-content-area">
						<div class="layout-top-spacing ps-3 pe-3 col-12 mb-3">
							<a th:href="@{/station/create}" class="btn btn-primary">Thêm
								mới</a>
						</div>
						<table id="station-table" class="table style-3 dt-table-hover"
							style="width: 100%">
							<thead>
								<tr>
									<th style="width: 5%">STT</th>
									<th>Tên nhà ga</th>
									<th>Địa chỉ</th>
									<th>Mô tả</th>
									<th class="no-content" style="width: 5%">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="station, stat : ${stations}">
									<td th:text="${stat.count}"></td>
									<td th:text="${station.stationname}"></td>
									<td th:text="${station.address}"></td>
									<td th:text="${station.description}" class="text-truncate"
										style="max-width: 250px;"></td>
									<td><a th:href="@{/station/edit/{id}(id=${station.id})}"
										class="bs-tooltip edit" data-bs-toggle="tooltip"
										data-bs-placement="top"> <svg
												xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none" stroke="currentColor"
												stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round"
												class="feather feather-edit-2 p-1 br-6 mb-1">
								                <path
													d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
								                </path>
								            </svg>
									</a> <a href="#" class="bs-tooltip delete"
										th:data-station-id="${station.id}" data-bs-toggle="tooltip"
										data-bs-placement="top"> <svg
												xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none" stroke="currentColor"
												stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round"
												class="feather feather-trash p-1 br-6 mb-1">
										        <polyline points="3 6 5 6 21 6"></polyline>
										        <path
													d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
										    </svg>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  BEGIN CUSTOM SCRIPTS FILE  -->
	<div layout:fragment="footerFiles">
		<script src="/plugins/table/datatable/datatables.js"></script>
		<script
			src="/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js"></script>
		<script
			src="/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js"></script>
		<script>
			$('#station-table')
					.DataTable(
							{
								"dom" : "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>"
										+ "<'table-responsive'tr>"
										+ "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
								"oLanguage" : {
									"oPaginate" : {
										"sPrevious" : '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
										"sNext" : '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
									},
									"sEmptyTable" : "Chưa có dữ liệu",
									"sInfo" : "Đang hiển thị trang _PAGE_ của  _PAGES_",
									"sSearch" : '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
									"sSearchPlaceholder" : "Tìm kiếm...",
									"sZeroRecords" : "Không có bản ghi nào trùng khớp",
									"sLengthMenu" : "Kết quả :  _MENU_",
								},
								"stripeClasses" : [],
								"lengthMenu" : [ 7, 10, 20, 50 ],
								"pageLength" : 10
							});
		</script>

		<script>
			$(document).ready(function() {
				let stationIdToDelete;

				$('.delete').on('click', function(e) {
					e.preventDefault();
					
					stationIdToDelete = $(this).data('station-id');
					$('#deleteModal').modal('show');
				});

				$('#confirmDelete').on('click', function() {
					$.ajax({
						url : `/station/delete/${stationIdToDelete}`,
						type : 'DELETE',
						success : function(response) {

							Snackbar.show({
								text : 'Xóa ga thành công',
								textColor : '#ddf5f0',
								backgroundColor : '#00ab55',
								actionText : 'Bỏ qua',
								actionTextColor : '#3b3f5c'
							});

							location.reload();
						},
						error : function() {
							Snackbar.show({
								text : 'Xóa ga thất bại',
								textColor : '#fbeced',
								backgroundColor : '#e7515a',
								actionText : 'Bỏ qua',
								actionTextColor : '#3b3f5c'
							});
						}
					});
					$('#deleteModal').modal('hide');
				});
			});
		</script>
	</div>
	<!--  END CUSTOM SCRIPTS FILE  -->
</body>

</html>