<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>Trang chủ</title>
<div layout:fragment="headerFiles">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/light/apps/blog-post.css">
	<link rel="stylesheet" type="text/css"
		href="/css/assets/dark/apps/blog-post.css">
</div>
</head>
<body>
	<div layout:fragment="content">
		<div class="middle-content container-xxl p-0">
			<div class="row layout-top-spacing">

				<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">


					<div class="single-post-content">

						<div class="featured-image">

							<div class="featured-image-overlay"></div>

							<div class="post-header">

								<div class="post-title">
									<h1 class="mb-0">List of Best Restaurant WordPress Themes</h1>
								</div>

								<div class="post-meta-info d-flex justify-content-between">
									<div class="media">
										<img src="/images/profile-12.jpeg" alt="profile">
										<div class="media-body">
											<h5>Kelly Young</h5>
											<p>15 May 2022</p>
										</div>
									</div>


									<div class="align-self-center">
										<button class="btn btn-success btn-icon btn-share btn-rounded">
											<svg xmlns="http://www.w3.org/2000/svg" width="24"
												height="24" viewBox="0 0 24 24" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-share-2">
											<circle cx="18" cy="5" r="3"></circle>
											<circle cx="6" cy="12" r="3"></circle>
											<circle cx="18" cy="19" r="3"></circle>
											<line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
											<line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
										</button>
									</div>

								</div>

							</div>

						</div>

						<div class="post-content">

							<p class="mb-5">Aenean non tempor justo. Donec faucibus
								sapien a urna interdum porta. Quisque fermentum nisi felis, quis
								aliquam quam volutpat porta. Nullam aliquet scelerisque massa,
								quis tincidunt velit. Vivamus semper placerat ornare. Maecenas
								eget accumsan eros. Donec non felis vitae tortor elementum
								euismod sit amet vitae risus. Nam nunc turpis, porttitor ut
								tempor eu, efficitur nec risus.</p>

							<h4>Cinyras ea tulit in inducit qui mater</h4>

							<p class="mb-5">Lorem markdownum facit? Hinc tutus serisque,
								mihi iaculum curam, vicibus aliquando se posses gentis quidem.
								Meta tenebat diversa dixerat celeberrimus molle require;
								prendique urnam Pyreneus? Haut mei sive digna noctisque
								percussit dicta, in pars certaminis iuvenalis. Praemonuisse esse
								inter in huic, Cinyras pallentem vi sistere cubat ne causa.</p>

							<h4>Utque tu canibus</h4>

							<p class="mb-5">Possent quippe. Conata fera ab Hersilie iam
								auditur haesit. Culpa ignis retia Aonides ictus crescendo
								micantes, petere, ambustaque vicem in digitos iubet cornigeris.</p>

							<ul class="mb-5">
								<li class="mb-1">Consectetur adipiscing elit</li>
								<li class="mb-1">Integer massa</li>
								<li class="mb-1">Facilisis nisl aliquet</li>
							</ul>

							<h4>Fregit aut Caystro equos</h4>

							<p>Manet pro aere superest adiacet sua purpura Tereus in
								multis conantem culpa, inque fingit et referebat? Materiaque
								mentes et, quo omnia captiva ore mandat cepit triformis filia.
								Prius sorte nomina in repellite sentit facunde te aures, vires.</p>



							<div class="text-center mb-5">
								<img src="/images/slider-3.jpeg" alt="image-1" class="img-fluid">
							</div>

							<p>It is a long established fact that a reader will be
								distracted by the readable content of a page when looking at its
								layout. The point of using Lorem Ipsum is that it has a
								more-or-less normal distribution of letters, as opposed to using
								'Content here, content here', making it look like readable
								English. Many desktop publishing packages and web page editors
								now use Lorem Ipsum as their default model text, and a search
								for 'lorem ipsum' will uncover many web sites still in their
								infancy. Various versions have evolved over the years, sometimes
								by accident, sometimes on purpose (injected humour and the
								like).</p>


						</div>


					</div>


				</div>

			</div>
		</div>
	</div>
</body>

</html>