<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout.html}">
<head>
<title>List users</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- BREADCRUMB -->
		<div class="page-meta">
			<nav class="breadcrumb-style-one" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Người dùng</a></li>
					<li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
				</ol>
			</nav>
		</div>
		<!-- /BREADCRUMB -->

		<div class="row layout-top-spacing">

			<div class="col-xl-12 col-lg-12 col-sm-12">
				<div class="statbox widget box box-shadow">
					<div class="widget-header">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-sm-12 col-12">
								<h4>Quản lý người dùng</h4>
							</div>
						</div>
					</div>
					<div class="widget-content widget-content-area">
						<div class="mb-3 pe-3 col-12">
							<a class="btn btn-primary">Thêm mới</a>
						</div>
						<table id="zero-config" class="table dt-table-hover"
							style="width: 100%">
							<thead>
								<tr>
									<th style="width: 5%">ID</th>
									<th>Tên</th>
									<th>Email</th>
									<th>Số điện thoại</th>
									<th>Địa chỉ</th>
									<th class="no-content">Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td th:text="${user.id}"></td>
									<td th:text="${user.username}"></td>
									<td th:text="${user.email}"></td>
									<td th:text="${user.phoneNumber}"></td>
									<td th:text="${user.address}"></td>
									<!--  <td>
								        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
								 
								        >
								            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
								                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
								                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								                 class="feather feather-edit-2 p-1 br-6 mb-1">
								                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
								                </path>
								            </svg>
								        </a>
								    </td> -->
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>