<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>SignIn Cover | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <style>
        .notification {
            position: fixed; 
            top: 60px; 
            right: 20px;
            font-size: 30px;
            background-color: #5cb85c;
            color: white; 
            padding: 10px; 
            border-radius: 4px;
            display: none; 
            z-index: 1000; 
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); 
            z-index: 999;
            display: none; 
        }
    </style>
</head>
<body>

    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column" style="padding-top: 110px">
                    <div class="auth-cover-bg-image"></div>
                    <div class="auth-overlay" style="position: fixed;left: 0;top: 0;height: 100%;border-radius: inherit;background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, rgba(255, 19, 97, 0.75) 100%);width: 55%;"></div>
                        
                    <div class="auth-cover">
    
                        <div class="position-relative">
    
                            <img style="width:100%" src="https://images.pexels.com/photos/2790396/pexels-photo-2790396.jpeg?auto=compress&cs=tinysrgb&w=400" alt="auth-img">
    
                            <h2 class="mt-5 text-white font-weight-bolder px-2">Join the community of expert developers</h2>
                            <p class="text-white px-2">It is easy to setup with great customer experience. Start your 7-day free trial</p>
                        </div>
                        
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto" style="margin-top: 30px">
                    <div class="card" style="border: none">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    
                                    <h2>Sign In</h2>
                                    <p>Enter your email and password to login</p>
                                    
                                </div>
                                <form id="loginForm"  method="post">
	                                <div class="col-md-12">
	                                    <div class="mb-3">
	                                        <label for="email" class="form-label">Email</label>
	                                        <input type="email" id="email" name="email" class="form-control" required>
	                                    </div>
	                                </div>
	                                <div class="col-12">
	                                    <div class="mb-4">
	                                        <label for="password" class="form-label">Password</label>
	                                        <input type="text" id="password" name="password" class="form-control">
	                                    </div>
	                                </div>
	                                <div class="col-12">
	                                    <div class="mb-3">
	                                        <div class="form-check form-check-primary form-check-inline">
	                                            <input class="form-check-input me-3" type="checkbox" id="form-check-default">
	                                            <label class="form-check-label" for="form-check-default">
	                                                Remember me
	                                            </label>
	                                        </div>
	                                    </div>
	                                </div>
	                                
	                                <div class="col-12">
	                                    <div class="mb-4">
	                                        <input type="submit" class="btn btn-secondary w-100" value="SIGN IN">
	                                    </div>
	                                </div>
                                </form>
                                
                                <!-- <div class="col-12 mb-4">
                                    <div class="">
                                        <div class="seperator">
                                            <hr>
                                            <div class="seperator-text"> <span>Or continue with</span></div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="col-12">
                                    <div class="text-center">
                                        <p class="mb-0">Dont't have an account ? <a href="/user/signup" class="text-warning">Sign Up</a></p>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
	
	 <div class="overlay"></div> 
	<div class="notification" id="successNotification"></div> 
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/user/signIn.js">
    
    </script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

</body>
</html>